.DS_Store
.git.bak/
.idea/workspace.xml
.idea/uiDesigner.xml
ant_build/
bin/
*.class
gen/
out/
tmp/
local.properties
target/
libs
gen-external-apklibs
libs-src
proguard_logs
.idea/libraries
vcs.xml
Unit_Tests.xml
profiles_settings.xml
misc.xml
compiler.xml
codeStyleSettings.xml
scope_settings.xml
workspace.xml
